*,
*:after,
*:before{
  margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
#todoList{
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containerList{
  padding: 1rem;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}
ul{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list{
  margin: .10rem;
  padding: .5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
p{
  margin: 0;
}
.btn{
  width: 5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
}
.removeBtn{
  background: none;
  outline: none;
}
.removeBtn:hover{
  border-bottom: .1rem solid;
}